* {
    margin: 0;
    padding: 0;
    margin: 20px;

    font-family: sans-serif;
}

.display-pontos {
    font-size: 80px;
}

.dexter {
    transform: scale(10);
    image-rendering: pixelated;
    margin-left: 216px;
    margin-top: 72px;
    left: 0;

    animation: idle 500ms infinite;
}

.div-dexter {
    height: 160px;
    width: 160px;
    overflow: hidden;
}

@keyframes idle {
    0% {margin-left: 56px}
    49.9% {margin-left: 56px}
    50% {margin-left: 216px}
    100% {margin-left: 216px}
}